header {
  height: 75px;
  padding: 1rem;
  font-weight: bold;
  font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 0px;
}

.first{
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 15px;
    margin-top:20px;
}

.second{
  font-family: 'Nanum Gothic Coding', monospace;
    margin-top: 20px;
}
.contents {
    text-align: center;
}

.col-sm-12{
    margin-top: 600px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
}

.footer p{
    text-align: center;
    margin: 50px;
}